name: release

on:
  push:
    tags: ["*"]
  workflow_dispatch:

jobs:
  build:
    uses: ./.github/workflows/build.yml
  publish:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
      - run: |
          for f in PlayTorrio-*/*; do
            mv "$f" "${f/ImPlay-/PlayTorrio-}"
          done
      - uses: ncipollo/release-action@v1
        with:
          commit: ${{ github.sha }}
          artifacts: "PlayTorrio-*/*"
          body: |
            # Install
            ## Windows
            - MSI
              - Download the msi executable
              - Run the MSI installer
              - Run PlayTorrio from Start Menu
            - Zip
              - Download the windows zip
              - Extract the zip
              - Run `PlayTorrio.exe`
            ## macOS
            - Download the dmg file
            - Double click the dmg to show it's contents
            - Drag PlayTorrio to `Applications` folder
            - Run PlayTorrio from Launchpad
            ## Linux
            - Debian Package
              - Download the deb file
              - Install: `sudo apt install ./PlayTorrio-*.deb`
              - Run `PlayTorrio`
            - AppImage
              - Download the AppImage file
              - Run `chmod u+x PlayTorrio-*.AppImage && ./PlayTorrio-*.AppImage`